# Node modules
node_modules/

# Build outputs
dist/
build/
out/

data/
coverage/

# Nx cache
.nx/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# IDEs and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.log



.nx/cache
.nx/workspace-data